$color-dark: #30474e;
$color-con: #fb0504;
$color-light: #a4f4fc;
$color-light2: #8cdcfb;
$color-light3: #9cf2fa;
$color-header: #ff5577;

body {
  .App {
    background-color: $color-dark;
    & > header {
      background-color: #20373e;
      color: white;
      button {
        background-color: transparent;
        color: white;
        &:hover {
          background-color: #ffffff80;
        }
      }
    }
  }
  loading-screen {
    background-color: $color-dark;
    color: $color-header;
  }
  .TabelSoal {
    background-color: $color-light2;
    form > {
      input {
        color: #20373e;
        border-bottom: 2px solid white;
      }
      button, select {
        background-color: $color-light2;
        color: #20373e;;
        box-shadow: none;
        border: 1px solid white;
        &:hover {
          background-color: $color-light3;
          color: $color-dark;
        }
      }
    }
    button, a, select {
      background-color: $color-con;
      color: white;
      box-shadow: 1px 1px 3px 0.5px #{$color-dark}70;
      &:hover {
        background-color: #{$color-con}80;
      }
    }
    h1,h2 {
      color: $color-header;
    }
    .KartuSoal {
      box-shadow: 1px 1px 2px 0.25px $color-con;
      .card-subtitle {
        color: #{$color-dark}A0;
      }
    }
  }
}
